<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/portada.css">
    <title>Categorias</title>
  </head>
  <body>
    <div th:insert="fragments/general.html :: menu"></div>

    <h1>Listado de categorias</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>

        <!-- <th>&nbsp;</th>
        <th>&nbsp;</th> -->
      </tr>
      <tr th:each="c : ${categorias}">
        <td><span th:text="${c.id}"></span></td>
        <td><span th:text="${c.nombre}"></span></td>
        <td><span th:text="${c.descripcion}"></span></td>
        <!-- <td class="delete">
          <a
            href="categoria-borrar?id=${elemento.id }"
            class="delLink"
            onclick="return confirm('¿seguro?')"
            >Borrar</a
          >
        </td>
        <td class="edit">
          <a href="categoria-editar?id=${elemento.id }" class="editLink"
            >Editar</a
          >
        </td> -->
      </tr>
    </table>
  </body>
</html>
