<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/adminView.css" />
    <link rel="stylesheet" href="../css/adminCategories.css" />
    <!-- HACER MEJOR LAS CATEGORIAS -->
    <title>Categorias</title>
  </head>
  <body>
    <div th:insert="fragments/general.html :: menu"></div>
    <div class="container">
      <h1 th:text="#{categorias.titulo.admin}"></h1>

      <table class="categories-table">
        <tr>
          <th>ID</th>
          <th th:text="#{categorias.nombre.admin}">Nombre</th>
          <th th:text="#{categorias.descripcion.admin}">Descripción</th>
          <!-- <th colspan="2" th:text="#{instrumento.acciones}">Acciones</th> -->
        </tr>
        <!-- Category rows would be dynamically inserted here -->
        <tr th:each="c : ${categorias}">
          <td><span th:text="${c.id}"></span></td>
          <td><span th:text="${c.nombre}"></span></td>
          <td><span th:text="${c.descripcion}"></span></td>
          <!-- <td class="delete">
            <a
              th:href="@{${'categoria-borrar?id='+c.id}}"
              class="delLink"
              onclick="return confirm('¿seguro?')"
              ><span th:text="#{instrumento.borrar}"></span></a
            >
          </td>
          <td class="edit">
            <a th:href="@{${'categoria-editar?id='+c.id}}" class="editLink">
              <span th:text="#{instrumento.editar}"></span>
            </a>
          </td> -->
        </tr>
      </table>
    </div>
  </body>
</html>
