<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="stylesheet" href="../../static/css/adminInstruments.css" /> -->
    <link rel="stylesheet" href="../css/adminInstruments.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuevo Instrumento</title>
    <!-- HACER UNA MEJOR FORMA PARA EL NUEVO, SERIA LO MISMO QUE EN EL EDITAR UN INSTRUMENTO -->
  </head>
  <body>
    <section id="instruments">
      <h1 th:text="#{annadir.instrumento}"></h1>
      <form
        class="nuevoForm"
        action="#"
        th:action="instrumentos-guardar-nuevo"
        th:object="${nuevoInstrumento}"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="nombre" th:text="#{instrumento.nombre}">Name:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" />
        <span
          style="color: red"
          th:if="${#fields.hasErrors('nombre')}"
          th:errors="*{nombre}"
        ></span>
        <div class="typeGamma">
          <label for="tipo" th:text="#{instrumento.tipo}" class="type"
            >Type:</label
          >
          <select id="tipo" name="tipo" th:field="*{tipo}" class="sType">
            <option value="Eléctrico" th:text="#{instrumento.tipo.electrico}">
              Electric
            </option>
            <option value="Acústico" th:text="#{instrumento.tipo.acustico}">
              Acoustic
            </option>
          </select>
          <label for="gamma" th:text="#{instrumento.gamma}" class="gamma"
            >Gamma</label
          >
          <select name="gamma" id="gamma" th:field="*{gamma}" class="sGamma">
            <option value="Baja" th:text="#{instrumento.gamma.baja}">
              Baja
            </option>
            <option value="Media" th:text="#{instrumento.gamma.media}">
              Media
            </option>
            <option value="Alta" th:text="#{instrumento.gamma.alta}">
              Alta
            </option>
          </select>
        </div>
        <div class="brandCategorie">
          <label for="marca" th:text="#{instrumento.marca}" class="brand"
            >Marca</label
          >
          <select name="marca" id="marca" th:field="*{idMarca}" class="sBrand">
            <option
              th:each="m : ${marcas}"
              th:text="${m.nombre}"
              th:value="${m.id}"
            ></option>
          </select>
          <label
            for="categoria"
            th:text="#{instrumento.categoria.editar}"
            class="categorie"
            >Categoría</label
          >
          <select
            name="categoria"
            id="categoria"
            th:field="*{idCategoria}"
            class="sCategorie"
          >
            <option
              th:each="c : ${categorias}"
              th:text="${c.nombre}"
              th:value="${c.id}"
            ></option>
          </select>
        </div>
        <span
          style="color: red"
          th:if="${#fields.hasErrors('idMarca')}"
          th:errors="*{idMarca}"
        ></span>
        <span
          style="color: red"
          th:if="${#fields.hasErrors('idCategoria')}"
          th:errors="*{idCategoria}"
        ></span>
        <label
          class="descripcion"
          for="descripcion"
          th:text="#{instrumento.descripcion}"
          >Descripción</label
        >
        <textarea
          th:field="*{descripcion}"
          cols="20"
          rows="3"
          name="descripcion"
          id="descripcion"
        ></textarea>
        <span
          style="color: red"
          th:if="${#fields.hasErrors('descripcion')}"
          th:errors="*{descripcion}"
        ></span>

        <label for="foto" th:text="#{instrumento.foto}" class="foto"
          >Foto de instrumento</label
        >
        <input type="file" name="foto" id="foto" th:field="*{archivoSubido}" />

        <div class="precio">
          <label for="precio" th:text="#{instrumento.precio}">Precio</label>
          <input
            type="number"
            name="precio"
            id="precio"
            step="0.1"
            th:field="*{precio}"
          />
        </div>
        <span
          style="color: red"
          th:if="${#fields.hasErrors('precio')}"
          th:errors="*{precio}"
        ></span>

        <input
          type="submit"
          value="REGISTRAR NUEVO INSTRUMENTO"
          th:value="#{instrumento.registrar.submit}"
        />
      </form>
    </section>
  </body>
</html>
