<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/menu.css" />
    <!-- HACER MAS ATRACTIVO EL LISTADO DE INSTRUMENTOS -->
    <link rel="stylesheet" href="../css/portada.css" />
    <title>Instrumentos</title>
  </head>
  <body>
    <div th:insert="fragments/general.html :: menu"></div>

    <h1 th:text="#{instrumento.titulo.admin}"></h1>

    <div>
      <form action="instrumentos">
        buscador - nombre :
        <input type="text" id="nombre" th:value="${nombre}" name="nombre" />
        <input type="submit" value="BUSCAR" />
      </form>
    </div>

    paginacion <br />
    <div>
      <a th:if="${anterior>=0}" th:href="@{${'instrumentos?comienzo='+anterior+'&nombre='+nombre}}"
        >anterior</a
      >
      <a
        th:if="${siguiente<total}"
        th:href="@{${'instrumentos?comienzo='+siguiente+'&nombre='+nombre}}"
        >siguiente</a
      >
    </div>

    <div style="margin: 10px">
      total de resultados: <span th:text="${total}"></span>
    </div>
    <table>
      <tr>
        <th>&nbsp;</th>
        <th th:text="#{instrumento.nombre}">Nombre</th>
        <th th:text="#{instrumento.categoria}">Categoria</th>
        <th th:text="#{instrumento.tipo}">Tipo</th>
        <th th:text="#{instrumento.marca}">Marca</th>
        <th th:text="#{instrumento.descripcion}">Descripcion</th>
        <th th:text="#{instrumento.gamma}">Gamma</th>
        <th th:text="#{instrumento.precio}">Precio</th>
        <th th:text="#{instrumento.ultimaModificacion}">Ultima modificacion</th>
        <th th:text="#{instrumento.fechaCreacion}">Fecha de creacion</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>

      <tr th:each="i :${instrumentos}">
        <td>
          <img height="80px" th:src="@{${'../mostrar_imagen?id=' + i.id}}" />
        </td>

        <td><span th:text="${i.nombre}"></span></td>
        <td><span th:text="${i.categoria.nombre}"></span></td>
        <td><span th:text="${i.tipo}"></span></td>
        <td><span th:text="${i.marca.nombre}"></span></td>
        <td class="descripcion"><span th:text="${i.descripcion}"></span></td>
        <td><span th:text="${i.gamma}"></span></td>
        <td><span th:text="${i.precio}"></span> euros</td>
        <td><span th:text="${i.ultimaModificacion}"></span></td>
        <td><span th:text="${i.fechaCreacion}"></span></td>
        <td class="delete">
          <a
            th:href="@{${'instrumentos-borrar?id='+i.id}}"
            class="delLink"
            onclick="return confirm('#{instrumento.confirmacion.borrar}')"
            ><span th:text="#{instrumento.borrar}"></span
          ></a>
        </td>
        <td class="edit">
          <a th:href="@{${'instrumentos-editar?id='+i.id}}" class="editLink"
            ><span th:text="#{instrumento.editar}"></span
          ></a>
        </td>
      </tr>
    </table>
    <div class="annadir">
      <a th:href="instrumentos-nuevo" th:text="#{instrumento.registrar.nuevo}"
        >Registrar nuevo Instrumento</a
      >
    </div>
  </body>
</html>
