<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Admin</title>
  </head>
  <body>
    <h2>No puedes acceder a daministracion hasta que te identifiques:</h2>
    <form action="admin/instrumentos">
      <label for="pass-login-admin">Contraseña</label>
      <input
        type="password"
        name="pass-login-admin"
        id="pass-login-admin"
        value="123"
      />
      <br />
      <input type="submit" value="ACEPTAR" />
    </form>
  </body>
</html>
