<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../../static/css/adminOrders.css" />
    <link rel="stylesheet" href="../../static/css/adminView.css" /> -->
    <link rel="stylesheet" href="../css/adminOrders.css" />
    <link rel="stylesheet" href="../css/adminView.css" />
    <title th:text="#{pedido.detalles.titulo}">Order Details</title>
  </head>
  <body>
    <div th:insert="fragments/general.html :: menu"></div>
    <section id="orders">
      <h1 th:text="#{pedido.detalles.titulo}">Detalles del pedido</h1>
      <div class="order-details">
        <div class="order-section">
          <h2 th:text="#{pedido.envio.datos}">Datos del envio:</h2>
          <p>
            <strong th:text="#{pedido.nombre.completo}">Full Name:</strong>
            <span id="fullName" th:text="${pedido.nombreCompleto}"
              >John Doe</span
            >
          </p>
          <p>
            <strong th:text="#{pedido.pais}">Country:</strong>
            <span th:text="${pedido.pais}" id="country">USA</span>
          </p>
          <p>
            <strong th:text="#{pedido.telefono}">Phone:</strong>
            <span th:text="${pedido.telefono}" id="phone">+1 234 567 8900</span>
          </p>
          <p>
            <strong th:text="#{pedido.direccion}">Address:</strong>
            <span th:text="${pedido.direccion}" id="address"
              >123 Main St, Anytown</span
            >
          </p>
          <p>
            <strong th:text="#{pedido.provincia}">State:</strong>
            <span id="state" th:text="${pedido.provincia}">California</span>
          </p>
          <p>
            <strong th:text="#{pedido.poblacion}">City:</strong>
            <span th:text="${pedido.poblacion}" id="city">Los Angeles</span>
          </p>
          <p>
            <strong th:text="#{pedido.metodo.envio}">Shipping Method:</strong>
            <span th:text="${pedido.formaEnvio}" id="shippingMethod"
              >Express</span
            >
          </p>
          <!-- Añadir las especificaciones y la forma de envio -->
        </div>

        <div class="order-section">
          <h2 th:text="#{pedido.pago.datos}">Payment Information</h2>
          <p>
            <strong th:text="#{pedido.tipo.tarjeta}">Card Type:</strong>
            <span th:text="${pedido.tipoTarjeta}" id="cardType">Visa</span>
          </p>
          <p>
            <strong th:text="#{pedido.titular.tarjeta}">Card Holder:</strong>
            <span th:text="${pedido.titularTarjeta}" id="cardHolder"
              >John Doe</span
            >
          </p>
          <p>
            <strong th:text="#{pedido.numero.tarjeta}">Card Number:</strong>
            <span th:text="${pedido.numeroTarjeta}" id="cardNumber"
              >**** **** **** 1234</span
            >
          </p>
          <p>
            <strong th:text="#{pedido.cvv.tarjeta}">CVV:</strong>
            <span th:text="${pedido.cvv}" id="cvv">***</span>
          </p>
          <p>
            <strong th:text="#{pedido.caducidad.tarjeta}"
              >Expiration Date:</strong
            >
            <span th:text="${pedido.caducidadTarjeta}" id="expirationDate"
              >12/25</span
            >
          </p>
        </div>

        <div class="order-section">
          <h2 th:text="#{pedido.productos.datos}">Order Items</h2>
          <div
            class="product-list"
            th:each="producto : ${pedido.productoPedidos}"
          >
            <div class="product-item">
              <img
                th:src="@{${'../mostrar_imagen?id=' + producto.instrumento.id}}"
                alt="Producto"
                class="product-image"
              />
              <p>
                <strong th:text="#{pedido.nombre}">Nombre:</strong>
                <span th:text="${producto.instrumento.nombre}"></span>
              </p>
              <p>
                <strong th:text="#{pedido.precio.unidad}"
                  >Precio/Unidad:</strong
                >
                <span th:text="${producto.instrumento.precio}"></span>
              </p>
              <p>
                <strong th:text="#{pedido.cantidad}">Cantidad:</strong>
                <span th:text="${producto.cantidad}"></span>
              </p>
            </div>
          </div>
        </div>
        <input
          type="hidden"
          name="id_pedido"
          id="id_pedido"
          th:field="${pedido.id}"
        />
        <div class="order-section">
          <h2>Order Status</h2>
          <select id="select_estado" th:field="${pedido.estado}">
            <option
              th:each="estado: ${estados}"
              th:text="${estado}"
              th:value="${estado.key}"
            ></option>
          </select>
        </div>
      </div>
    </section>

    <script src="../librerias_js/jquery.js"></script>
    <script>
      /**
       * A la que se cambie el estado del pedido,
       * registramos el cambio mediante un servicio REST
       */
      $("#select_estado").change(function () {
        let estado = $("#select_estado").find(":selected").val();
        let idPedido = $("#id_pedido").val();
        console.log(
          "Estado: " + estado + " para el pedido con ID: " + idPedido
        );
        $.post("administracion-actualizar-estado-pedido", {
          id: idPedido,
          estado: estado,
        }).done(function (res) {
          console.log(res);
        });
      });
    </script>
  </body>
</html>
