<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/portada.css" />
    <title th:text="#{usuarios.titulo}">User List</title>
  </head>
  <body>
    <div th:insert="fragments/general.html :: menu"></div>

    <h1 th:text="#{usuarios.titulo}">Listado de Usuarios</h1>
    <table>
      <tr>
        <th th:text="#{usuarios.nombre}">Nombre</th>
        <th th:text="#{usuarios.apellido}">Apellido</th>
        <th th:text="#{usuarios.nombre.usuario}">Nombre Usuario</th>
        <th th:text="#{usuarios.email}">Email</th>
        <th th:text="#{usuarios.contrasena}">Contraseña</th>
        <th th:text="#{usuarios.codigo.postal}">Codigo Postal</th>
        <!-- <th>&nbsp;</th>
        <th>&nbsp;</th> -->
      </tr>
      <tr th:each="u : ${usuarios}">
        <td><span th:text="${u.nombre}"></span></td>
        <td><span th:text="${u.apellido}"></span></td>
        <td><span th:text="${u.nomUsuario}"></span></td>
        <td><span th:text="${u.email}"></span></td>
        <td><span th:text="${u.pass}"></span></td>
        <td><span th:text="${u.codPostal}"></span></td>
        <!-- <td class="delete">
          <a
            href="usuario-borrar?id=${elemento.id }"
            class="delLink"
            onclick="return confirm('¿seguro?')"
            >Borrar</a
          >
        </td>
        <td class="edit">
          <a href="usuario-editar?id=${elemento.id }" class="editLink"
            >Editar</a
          >
        </td> -->
      </tr>
    </table>
  </body>
</html>
