<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/adminView.css" />
    <title>General</title>
  </head>
  <body>
    <div th:fragment="menu">
      <header class="header">
        <div class="header-top">
          <a href="#" class="logo">
            <img src="../img/manaments.png" alt="Logo" />
            <span
              style="text-align: center"
              th:text="#{titulo.banner.admin}"
            ></span>
          </a>
          <div class="language-options">
            <a href="?idioma=es">Español</a>
            <a href="?idioma=en">English</a>
          </div>
        </div>
        <nav class="header-bottom">
          <ul class="menu">
            <li>
              <a href="usuarios"
                ><span th:text="#{titulo.banner.usuario}"></span
              ></a>
            </li>
            <li>
              <a href="instrumentos"
                ><span th:text="#{titulo.banner.instrumento}"></span
              ></a>
            </li>
            <li>
              <a href="categorias"
                ><span th:text="#{titulo.banner.categoria}"></span
              ></a>
            </li>
            <li>
              <a href="pedidos"
                ><span th:text="#{titulo.banner.pedidos}"></span
              ></a>
            </li>
            <li>
              <a href="../logout-admin"
                ><span th:text="#{titulo.banner.cerrar}"></span
              ></a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </body>
</html>
