<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/portada.css" />
    <title>General</title>
  </head>
  <body>
    <div th:fragment="menu">
     <div>
      idioma: <a href="?idioma=es">ESPAÑOL</a> <a href="?idioma=en">ENGLISH</a>
    </div>
    <h1 th:text="#{titulo.bienvenida.admin}"></h1>
      <header>
        <div class="banner">ZONA DE ADMINISTRACION</div>
        <nav class="options">
          <a href="usuarios">Gestionar Usuarios</a>
          <a href="instrumentos">Gestionar Instrumentos</a>
          <a href="categorias">Gestionar Categorias</a>
          <a href="pedidos">Gestionar Pedidos</a>
          <a href="../logout-admin">CERRAR SESION</a>
        </nav>
      </header>
    </div>
  </body>
</html>
