:root {
  --claro: #d2d4d1;
  --oscuro: #827157;
  --fondo: #c4bbaa;
  --producto_detalles: #9f755d;
}
.topProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.containerProductsCarrousel {
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}

.productCard {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--claro);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px,
    rgba(0, 0, 0, 0.15) 0px 7px 13px -3px;
  border-radius: 1rem;
}

.imagenProducto {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

.addCartButton {
  width: 100%;
  padding: 1em;
  margin-top: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addCartButton:hover {
  background-color: #555;
}

#productos {
  padding: 60px 0;
  background-color: var(--fondo);
}

#productos .swiper-container {
  padding-bottom: 30px;
}

#productos .swiper-slide {
  width: 300px;
  height: 400px;
}

#productos .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#productos .card:hover {
  transform: translateY(-10px);
}
