* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
    --claro: #d2d4d1;
    --oscuro: #554835;
    --fondo: #d7d3cd;
    --producto_detalles: #9f755d;
  } */
.titulo {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
  font-weight: lighter;
}
.container {
    max-width: 1200px;
  margin: auto;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 8px;
  padding: 10px;
}
.search-bar input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  color: #f2f2f2;
  font-size: 16px;
}
.search-bar input::placeholder {
  color: #888;
}
.search-bar svg {
  margin-right: 10px;
  fill: #888;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
.pagination button {
  background-color: #333;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}
.pagination span {
  background-color: #333;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
}
.pagination button:hover {
  background-color: #444;
}
.pagination button:disabled {
  color: #888;
  cursor: not-allowed;
}

.total-products {
  margin-top: 10px;
  margin-left: 1rem;
  font-size: 1.25rem;
}

.productContainer {
  width: 95%;
  padding: 2rem;
  border-radius: 50px;
  background-color: var(--fondo-all-products);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta automáticamente el número de columnas */
}
@media (max-width: 1440px) {
  .productContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .productContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .productContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 832px) {
  .productContainer {
    width: 100%;
    padding: 0rem 5em;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 664px) {
  .productContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
