<!DOCTYPE html>
<html>
  <head xmlns="http://www.thymeleaf.org">
    <meta charset="UTF-8" />
    <title>Manaments</title>
    <link rel="stylesheet" href="css/portada.css" />
    <link rel="stylesheet" href="css/boton_borrar.css" />
    <link rel="stylesheet" href="css/userView.css" />
    <link rel="stylesheet" href="css/carrusel.css" />
    <link rel="stylesheet" href="css/productCard.css" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script
      defer
      src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    ></script>
    <script
      defer
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="librerias_js/js.cookie.min.js"></script>
    <script src="librerias_js/jquery.js"></script>
    <script src="librerias_js/mustache.js"></script>

    <!-- HACER MAS ATRACTIVO EL INDEX, TANTO EL MENU COMO LOS PRODUCTOS.
      LA IDENTIFICACION DE USUARIO, EL REGISTRO Y HACER ALGO CON LOS DATOS PERSONALES 
      Y LOS PEDIDOS DEL USUARIO REGISTRADO.
      SOBRETODO HACER ESTILOS NUEVOS-->
  </head>
  <body class="body">
    <header class="header">
      <!-- Parte superior del header -->
      <div class="header-top">
        <a href="#" class="logo" id="menu-inicio">
          <img
            src="../img/language.png"
            alt="Icono"
            class="icono"
            id="menu-inicio"
        /></a>

        <h1 class="titulo" th:text="#{inicio.bienvenida}">
          Bienvenido a Manaments
        </h1>
        <div class="userThings">
          <div class="language-dropdown">
            <img
              src="../img/language.png"
              alt="Traductor"
              class="translator-icon"
            />
            <ul class="language-menu">
              <li><a href="?idioma=es">Español</a></li>
              <li><a href="?idioma=en">English</a></li>
              <li><a href="#">Français</a></li>
              <li><a href="#">Deutsch</a></li>
            </ul>
          </div>
          <a href="#" id="menu-carrito">
            <img
              src="../img/carrito-de-compras.png"
              alt="Shopping cart"
              class="shopCart"
            />
          </a>
          <!-- User Icon with Dropdown Menu -->
          <div class="user-dropdown">
            <img
              src="../img/usuario.png"
              alt="User icon"
              class="userInfo"
              id="userIcon"
            />
            <ul class="user-menu" id="userMenu">
              <li id="menuIdentificarme">
                <a
                  href="#"
                  id="menu-identificarme"
                  th:text="#{menu.identificarme}"
                  >Identificarme</a
                >
              </li>
              <li id="menuRegistrarme">
                <a href="#" id="menu-registrarme" th:text="#{menu.registrarme}"
                  >Registrarme</a
                >
              </li>
              <li id="menuMisPedido" class="ocultar">
                <a href="#" id="menu-mis-pedidos" th:text="#{menu.mis.pedidos}"
                  >Mis pedidos</a
                >
              </li>
              <li id="menuMisDatos" class="ocultar">
                <a href="#" id="menu-mis-datos" th:text="#{menu.mis.datos}"
                  >Mis datos personales</a
                >
              </li>
              <li id="menuCerrarSesion" class="ocultar">
                <a
                  href="#"
                  id="menu-cerrar-sesion"
                  th:text="#{menu.cerrar.sesion}"
                >
                  Cerrar sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Parte inferior del header (opciones) -->
      <div class="header-bottom">
        <div class="buscador">Buscador</div>
        <div class="more">
          <div><a href="#" id="menu-productos">Productos</a></div>
          <div><a href="#" id="menu-categorias">Categorías</a></div>
        </div>
        <div class="hamburguesa">
          <input
            class="menu-btn"
            type="checkbox"
            id="menu-btn"
            name="menu-btn"
          />
          <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
          </label>
          <ul class="menu">
            <!-- Al hacer click en otro lugar que no sea el menu hamburguesa que este se cierre -->
            <li><a href="">Products</a></li>
            <li><a href="">Clients</a></li>
            <li><a href="">Sales line</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="adminBox">
      <a href="admin/"> <span th:text="#{inicio.acceder.admin}"></span> </a>
    </div>
    <div id="contenedor"></div>
    <div id="contenedor2"></div>

    <script src="javascript/globales.js"></script>

    <script src="javascript/variables_plantillas.js"></script>

    <script src="javascript/operaciones.js"></script>
    <script src="javascript/operaciones_checkout.js"></script>

    <script src="javascript/validacionesPedido.js"></script>
    <script src="javascript/validacionesUsuario.js"></script>

    <script defer src="javascript/menu.js"></script>
    <script src="javascript/funcionalidades.js"></script>

    <script>
      $(document).ready(function () {
        // Cuando se haga clic en cualquier parte del documento
        $(document).click(function (event) {
          // Si el menú está abierto y se hace clic fuera de él
          if (
            $("#menu-btn").is(":checked") && // El menú está abierto
            !$(event.target).closest(".hamburguesa, .menu").length
          ) {
            $("#menu-btn").prop("checked", false); // Cerrar el menú
          }
        });
      });
    </script>

    <script>
      function inicio() {
        obtenerTopCinco();
        obtenerProductos();
        // obtenerCategorias();
        // obtenerMarcas();
      }
      inicio();
    </script>
    <script type="module">
      import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

      let topCinco; // Variable global para la instancia de Swiper

      topCinco = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        autoplay: {
          delay: 3000,
        },
        slidesPerView: "3",
        loop: true,
        coverflowEffect: {
          depth: 500,
          modifier: 1,
          slideShadows: true,
        },
      });
    </script>
    <script type="module">
      import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

      const todosProductos = new Swiper(".swiper-container", {
        slidesPerView: "auto", // Muestra los productos según el tamaño de la pantalla
        spaceBetween: 20, // Espacio entre las tarjetas
        grabCursor: true,
        loop: false, // Habilita el bucle de productos
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </body>
</html>
